//importar las font-sizes
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

//Variables SASS
$font-body: 'Epilogue';
$font-size-body: 18px;
$color-almost-white: hsl(0, 0%, 98%);
$color-medium-grey: hsl(0, 0%, 41%);
$color-almost-black: hsl(0, 0%, 8%);

//Declaración de funciones
@function size($t) {
    @return $t*$font-size-body;
}

//importar partials o modules
@import 'universals';

//mixins: mezclas de propiedades modulares
@mixin paddings ($t) {
    padding: $t*1px $t*4px;
}

//Propiedades body
body {
    font-family: $font-body;
    font-size: $font-size-body;
    color: $color-almost-white;
}


//Propiedades header
.header{
    display: flex; 
    align-items: center; 
    height: size(3);
    @include paddings(10);
    &__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-medium-grey;
        font-size: size(0.8);
    }
    &__left{
        display: flex;
        align-items: center; 
        gap: size(3);
    }
    &__list{
        display: flex;
        list-style: none;
        gap: size(2);
        img{
            margin-left: size(0.3);
        }
    }
    &__right{
        display: flex;
        align-items: center;
        gap: size(3);
    }
}

//main
.hero{
    display: flex;    
    @include paddings(10);     
    height: 80vh;
    &__left{
        // height: size(28); 
        padding-left: 50px;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            margin-top: 80px;
            color: $color-almost-black;
            font-size: 4.8em;
            font-weight: 700;
        }
        p{
            width: 90%;
            font-size: size(1.1);            
            color: $color-medium-grey;
            line-height: 28px;
        }
        &__bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            img{
                width: 20%;
                height: 80%;
                object-fit: contain;
            }
        }
        button {
            width: 120px;
            height: 40px;
            border: none;
            background-color: $color-almost-black;
            border-radius: 12px;
            color: $color-almost-white;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: $color-almost-white;
                color: $color-almost-black;
                border: 1px solid $color-almost-black;
            }
        }
    }
    &__right{
        display: flex;
        width: 60%;
        height: size(28); ;
        justify-content: end;
        img{
            width: 450px;
            height: 100%;
            object-fit: contain;
        }
    }

}